

body{
  margin: 0;
  padding: 0;
}

/*  Header -------------------*/
header {

}

.left a {
  color: #000;
}

.right a {
  color: #000;
}

a {
  text-decoration: none;
}

.left li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  padding-bottom: 19px;
  position: relative;
  top: -50px;
  float: right;
  text-decoration: underline;
    font-family: 'Oswald', sans-serif;
}

.right {
  margin-left: 15px;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
}
 .rounded img {
   max-width: 100%;
 }

.rounded h1 {
  text-align: center;
   font-family: 'Courgette', cursive;
}

.rounded p {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
}

 .rounded:nth-of-type(1) {
   padding-top: 100px;
   width: 40%;
   float: left;
   margin-left: 100px;
 }


 .rounded:nth-of-type(2) {
   padding-top: 140px;
   width: 40%;
   float: right;
   margin-right: 2%;
   /* position: relative;
   top: -15px; */
 }

 .clearfix:after {
   content:'';
   display: table;
   clear: both;
 }



 footer {
   padding-top: 230px;
   /* height: 50px; */
   /* border-top: 1px solid #BDBEB8; */
 }

 footer p {
   margin-left: 20px;
   font-family: 'Oswald', sans-serif;
 }

/*  Media query ------------------------*/
@media (max-width: 1025px){
    main {
    padding-top: 100px;
  }

  .rounded p {
    font-size: 1.3rem;
  }

}

@media screen and (max-width: 991px) {
  main {
    padding-top: 150px;
  }

  .rounded p {
    font-size: 1.3rem;
  }

  .rounded:nth-of-type(1) {
    padding-top: 100px;
    width: 50%;
    float: left;
    margin-left: 50px;
  }
}

@media (min-width: 480px) and (max-width:700px){
  .rounded:nth-of-type(1) {
    padding-top: 0px;
    width: 70%;
    float: none;
    margin-left: 120px;
  }

  .rounded p {
    font-size: 1.2rem;
  }

  .rounded:nth-of-type(2) {
    padding-top: 140px;
    width: 70%;
    float: none;
    margin-left: 100px;
    /* margin-right: 2%; */
    /* position: relative;
    top: -15px; */
  }
}

@media screen and (max-width: 479px){
  .rounded:nth-of-type(1) {
    padding-top: 0px;
    width: 40%;
    float: none;
    margin-left: 120px;
  }

  .rounded p {
    font-size: 1.2rem;
  }

  .rounded:nth-of-type(2) {
    padding-top: 140px;
    width: 70%;
    float: none;
    margin-left: 60px;
  }

}

@media (min-width: 320px) and (max-width: 374px){

  .rounded:nth-of-type(1) {
    padding-top: 0px;
    width: 40%;
    float: none;
    margin-left: 100px;
  }

  .rounded h1 {
    font-size: 1.9rem;
  }

  .rounded:nth-of-type(2) {
    padding-top: 140px;
    width: 70%;
    float: none;
    margin-left: 50px;
  }
}
