

body{
  margin: 0;
  padding: 0;
}

/*  Header -------------------*/
header {

}

a {
  text-decoration: none;
}

.left a {
  color: #000;
}

.right a {
  color: #000;
}

.left li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  padding-bottom: 19px;
  position: relative;
  top: -50px;
  float: right;
  text-decoration: underline;
    font-family: 'Oswald', sans-serif;
}

.right {
  margin-left: 15px;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
}
 .rounded img {
   max-width: 100%;
 }

.rounded h1 {
  text-align: center;
   font-family: 'Courgette', cursive;
}

.rounded p {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
}

 .rounded:nth-of-type(1) {
   padding-top: 100px;
   width: 40%;
   float: left;
   margin-left: 100px;
 }

 .rounded:nth-of-type(2) {
   padding-top: 140px;
   width: 40%;
   float: right;
   margin-right: 2%;
 }

 .overlay:hover{
   opacity: 1;
 }

 .overlay{
   color: #fff;
   background: #345d88;
   opacity: 0;
   transition: opacity .5s;
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   display: flex; /* For centering text inside .photo-overlay */
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	background: rgba(0,0,0, .5);
   padding-left: 20px;
 	padding-right: 20px;

 }

 .slide .overlay {
   opacity: 1;
 }

 .clearfix:after {
   content:'';
   display: table;
   clear: both;
 }

 footer {
   padding-top: 230px;
 }

 footer p {
   margin-left: 20px;
   font-family: 'Oswald', sans-serif;
 }

 /*  Media query ------------------------*/
 @media (max-width: 1025px){

   main {
     padding-top: 100px;
   }

   .rounded p {
     font-size: 1.3rem;
   }

 }

 @media screen and (max-width: 991px) {
   main {
     padding-top: 150px;
   }

   .rounded p {
     font-size: 1.3rem;
   }

   .rounded:nth-of-type(1) {
     padding-top: 100px;
     width: 50%;
     float: left;
     margin-left: 50px;
   }

 }

 @media (min-width: 480px) and (max-width:700px){
   .rounded:nth-of-type(1) {
     padding-top: 0px;
     width: 70%;
     float: none;
     margin-left: 120px;
   }

   .rounded p {
     font-size: 1.2rem;
   }

   .rounded:nth-of-type(2) {
     padding-top: 140px;
     width: 70%;
     float: none;
     margin-left: 100px;
   }
 }

 @media screen and (max-width: 479px){
   .rounded:nth-of-type(1) {
     padding-top: 0px;
     width: 40%;
     float: none;
     margin-left: 120px;
   }

   .rounded p {
     font-size: 1.3rem;
   }

   .rounded:nth-of-type(2) {
     padding-top: 140px;
     width: 70%;
     float: none;
     margin-left: 60px;
   }

 }

 @media (min-width: 320px) and (max-width: 375px){

   .rounded:nth-of-type(1) {
     padding-top: 0px;
     width: 40%;
     float: none;
     margin-left: 100px;
   }

   .rounded:nth-of-type(2) {
     padding-top: 140px;
     width: 70%;
     float: none;
     margin-left: 50px;
   }
 }
